body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #c3ecf7, #f9f9f9);
}

nav {
  background: #4a90e2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 12px 10px ;
  border-radius: 8px;
  margin: 20px auto;
  width: 25%;
  display: flex;
  gap: 20px;
  justify-content: center;
  top: 0;
  z-index: 100;
}

nav a {
  color: white;
  text-decoration: none;
   font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s ease;
}

nav a:hover {
  text-decoration: underline;
}

.app-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align:justify
}

h2 {
  text-align: center;
}

.challenge-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

nav {
  margin-bottom: 20px;
}

#favoritos {
  margin-top: 40px;
  padding: 40px 20px;
  background: linear-gradient(135deg, #dbeafe, #ede9fe); /* azul-violeta claro */
  border-radius: 16px;
}

#favoritos h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.6rem;
  color: #333;
}